/back
node_modules
dist
/scraper-teams-back
scraper-teams-back
/scrapers
scrapers
files
images
.vscode
.env-dev
.env-prod
.env
.npmrc
temp
local-development.ts
local-development.js
/.idea/
Makefile
.env-proxy-eu
.env-proxy-us
.env-proxy-usa
logs
*.log
polyfill.js

tsconfig.dev.json

.prettierrc

newspapers_files
newspapers_images

points-validation
/.claude/settings.local.json
